/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --border-color: #D9D9D9;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*****    header    ******/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;;
}

header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    /*gap: 68px;*/
}

header nav ul li {
    margin-left: 68px;
}

header img {
    height: 19px;
    padding: 30px 0px;
}

.header-links:hover {
    color: var(--main-color);
}

/* overline of .header-links */
.header-links {
    position: relative;
    color: black;
}

.header-links::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -16px;
    /* shifts line to the top */
    height: 2px;
    /* line's thickness */
    background: var(--main-color);
    opacity: 0;
    /* non visible by default */
}

.header-links:hover::before {
    opacity: 1;
    /* render line at hover */
}

/* body main-container main */
main {
    display: flex;
    flex-direction: column;
    gap: 35px;
    background-color: white;
}

/***** Info group ****/
.subtitle {
    margin: 0;
    padding: 0;
}

.info {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    gap: 35px;
}

/* search bar */
.searchbar {
    display: flex;
    border-radius: 15px;
    height: 49px;
}

.searchbar i {
    width: 50px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

i.fa-solid.fa-location-dot {
    color: black;
}

.searchbar-txt {
    background-color: white;
    border: 1px solid var(--main-bg-color);
    outline: none;
    padding: 15px 16px;
}

.searchbar-txt::placeholder {
    color: black;
}

.searchbar-button {
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--main-color);
    border: none;
    outline: none;
    padding: 15px 16px;
}

.font18 {
    font-size: 18px;
    font-weight: bold;
}

.searchbar-button span {
    display: inline;
}

.searchbar-button i {
    display: none;
}

i.fa-solid.fa-magnifying-glass {
    color: white;
    background-color: var(--main-color);
}

/* filter bar */
.filterbar,
.div-filtre {
    display: flex;
    gap: 15px;
}

.div-filtre2 {
    display: flex;
    gap: 15px;
}

.subtitle {
    display: flex;
    align-items: center;
}

.filterbutton {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    padding: 15px;
    /*4px 19px;*/
    border: 2px solid var(--border-color);
    gap: 10px;
}

.filterbutton:hover {
    background-color: #DEEBFF;
}

.filterbutton-txt {
    font-size: 17px;
    font-weight: bold;
}


/* info bar */
.infobar {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.font16 {
    font-size: 16px;
}

.fa-circle-info {
    color: white;
    background-color: var(--main-color);
    border-radius: 50%;
    border: 1px solid var(--border-color);
}

/***** Hebergements ****/
.hebergements {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.main-cards {
    display: flex;
    gap: 30px;
}

.cardmain {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    min-width: 0;
    height: 207.25px;
}

.main-cards a {
    display: flex;
    width: 100%;
}

.cardmain img {
    max-width: 100%;
    object-fit: cover;
    height: 59.8%;
    /*width: 243px;*/
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.cardmain .card-content {
    height: 40.2%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    gap: 8px;
}

.card-txt {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card-txt h3 {
    margin: 0;
}

.card-txt p {
    margin: 0;
}

.populaires-cards .card-subtitle,
.main-cards .card-subtitle {
    font-size: 14px;
}

/*****    activites    ******/
.activites {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    background-color: white;
}

.activites-cards {
    display: flex;
    gap: 30px;
}

.activites-cards a {
    display: flex;
    width: 100%;
}

.cardactivite {
    /*filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));*/
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    flex: 1 1 0;
}

.cardactivite img {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 380px;
}

.cardactivite .card-content {
    display: flex;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px 19px;
}

.card-content h3 {
    margin: 0;
}

/*****    footer    ******/
.footer-div {
    display: flex;
    padding: 30px;
    gap: 50px;
    background-color: var(--main-bg-color);
    margin-top: 35px;
}

.footer-div section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-div section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-div section h3 {
    margin: 0;
}

/****** Media queries ***********/
/*@media (min-width: 1440px) {
    .main-container {
       border-left : 1px solid var(--filter-bg-color);
       border-right : 1px solid var(--filter-bg-color);
    }
}*/

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /***** Info group ****/
    /* filter bar */
    .filterbar {
        flex-direction: column;
    }

    /*****    activites    ******/
    .cardactivite img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    body {
        background-color: var(--main-bg-color);
    }
    
    /***** populaires *****/
    .populaires {
        margin: 0;
    }

    .populaires-cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .populaires-cards a {
        display: flex;
        width: 100%;
    }

    .populaires-cards .card {
        width: 100%;
    }

    /***** header *****/
    /* underline of .header-links */
    header {
        flex-direction: column;
        align-items: center;
    }

    .header-links::before {
        content: "";
        position: absolute;
        left: 0px;
        right: 0px;
        top: 32px;
        /* décale la ligne vers le haut */
        height: 2px;
        /* épaisseur de la ligne */
        background: var(--main-color);
        opacity: 0;
        /* invisible par défaut */
    }

    /* align header <a> */
    header nav {
        width: 100%;
    }

    header nav ul {
        padding: 0;
    }

    header nav ul li {
        margin-left: 0px;
        width: 100%;
    }

    header nav ul li a {
        display: block;
        text-align: center;
    }

    /***** Info group ****/
    .info {
        background-color: white;
        box-sizing: border-box;
        padding: 30px;
        margin: 0;
    }

    /* search bar */
    .searchbar-txt {
        width: 100%;
    }

    .searchbar-button span {
        display: none;
    }

    .searchbar-button i {
        display: inline;
    }

    .searchbar-button {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        box-shadow: 0 3px 0 0 var(--border-color);
    }

    /* filter bar */
    .div-filtre {
        flex-direction: column;
    }

    .filterbutton {
        flex: 1;
    }

    .filterbutton-txt {
        font-size: 14px;
    }

    /***** Hebergements ****/
    .main-cards {
        flex-direction: column;
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
    }

    .hebergements-and-populaires section.hebergements {
        order: 1;
        /*populaires has order 0 by default, hebergements with greater order displayed after*/
        background-color: white;
    }

    /*****    activites    ******/
    .activites-cards {
        flex-direction: column;
    }

    .cardactivite img {
        height: 141px;
    }

    /*****    footer    ******/
    .footer-div {
        flex-direction: column;
    }
}